<section>
	<h1>Présentation</h1>

	<section>
		<h2>Quels outils ?</h2>
		<p><a href="https://www.mozilla.org/fr/firefox/new/">Firefox</a></p>
		<p><a href="https://addons.mozilla.org/fr/firefox/addon/firebug/">Firebug</a></p>
	</section>

	<section>
		<h2>Structure d'un échange</h2>
		<div class="container">
			<div class="columns two-thirds">
				<img alt="Requête vers W3C" src="images/01-requete-et-reponse.png">
			</div>

			<div class="columns one-third">
				<ul>
					<li class="fragment">une adresse</li>
					<li class="fragment">une requête</li>
					<li class="fragment">une réponse</li>
				</ul>
			</div>
		</div>

		<aside class="notes">
			<ul>
				<li>différent types de contenus de réponses (HTML, images, etc.)</li>
			</ul>
		</aside>
	</section>

	<section>
		<h2>Structure interne, les verbes</h2>

		<div class="container">
			<div class="columns two-thirds">
				<img alt="Verbes" src="images/01-verbe-code-retour.png">
			</div>
			<div class="columns one-third">
				<p>Différents verbes utilisés lors de la requête :</p>
				<ul>
					<li class="fragment">GET</li>
					<li class="fragment">POST</li>
				</ul>
			</div>
		</div>

		<aside class="notes">
			Le verbe utilisé lors de la requête porte une information sémantique sur la finalité de la requête :
			<ul>
				<li>GET permet de récupérer de l'information</li>
				<li>POST permet d'envoyer de l'information</li>
			</ul>

			<p>On peut également envoyer de l'information avec GET et récupérer de l'information avec POST, mais il est préférable de conserver ces notions sémantiques.</p>
			<p>D'autres verbes existent, nous les aborderons plus tard.</p>
		</aside>
	</section>

	<section>
		<h2>Structure interne, les codes retour</h2>

		<div class="container">
			<div class="columns two-thirds">
				<img alt="Verbes" src="images/01-verbe-code-retour.png">
			</div>
			<div class="columns one-third">
				<p>Différents codes retour normalisés :</p>
				<table>
					<tr>
						<td>2xx</td>
						<td>Succès</td>
					</tr>
					<tr>
						<td>3xx</td>
						<td>Redirections</td>
					</tr>
					<tr>
						<td>4xx</td>
						<td>Erreurs client</td>
					</tr>
					<tr>
						<td>5xx</td>
						<td>Erreurs serveur</td>
					</tr>
				</table>
			</div>
		</div>

		<aside class="notes">
			<p>Les codes retour normalisés permettent d'informer le client de l'état du traitement de sa requête.</p>
			<p>Les erreurs client peuvent être de différents types :
				<ul>
					<li>L'adresse n'existe pas (404)</li>
					<li>L'accès est refusé (403)</li>
				</ul>
			</p>
		</aside>
	</section>

	<section>
		<h2>Structure interne, les en-têtes</h2>

		<div class="container">
			<div class="columns two-thirds">
				<img alt="En-tête de requête" src="images/01-en-tete-requete.png">
				<ul class="">
					<li>identification du client</li>
					<li>types de données acceptés</li>
					<li>encodages supportés</li>
					<li>langues préférées</li>
				</ul>
			</div>
			<div class="columns one-third fragment">
				<img alt="En-tête de réponse" src="images/01-en-tete-reponse.png">
				<ul class="">
					<li>longueur de réponse</li>
					<li>type de contenu</li>
					<li>date de création</li>
					<li>durée de validité</li>
				</ul>
			</div>
		</div>

		<aside class="notes">
			<ul>
				<li>En-têtes courants normalisés</li>
				<li>possibilité de définir et utiliser ses propres en-têtes à condition de maîtriser le serveur</li>
			</ul>
		</aside>
	</section>

	<section>
		<h2>Structure interne, le corps</h2>
		<figure>
			<img alt="Corps de la réponse" src="images/01-corps-reponse.png">
		</figure>

		<aside class="notes">
			<ul>
				<li>ce n'est qu'un exemple de contenu (HTML)</li>
				<li>échange de texte</li>
				<li>système de balisage permettant de donner du sens au contenu</li>
			</ul>
		</aside>
	</section>

	<section>
		<h2>Des standards</h2>

		<div class="container">
			<div class="columns one-third">
				<pre>
<code class="html">
&lt;!doctype html&gt;
&lt;html&gt;
	&lt;head&gt;

	&lt;/head&gt;
	&lt;body&gt;

	&lt;/body&gt;
&lt;/html&gt;
</code>
				</pre>
			</div>

			<div class="columns two-thirds">
				<pre>
					<code class="css">
body: {
	width: 100%;
	height: 100%;
	background-color: "red";
}
					</code>
				</pre>

				<pre>
					<code class="javascript">
window.onload = function () {
	alert ("Page chargée");
};
					</code>
				</pre>
			</div>
		</div>

		<aside class="notes">
			<p>Chaque langage a un rôle bien défini :</p>
			<ul>
				<li>HTML fournit le contenu</li>
				<li>CSS fournit la mise en page</li>
				<li>JavaScript fournit l'intelligence</li>
			</ul>
			<p>On peut faire des entorses à ces règles, mais ce n'est pas recommandé.</p>
		</aside>
	</section>

	<section class="transparent-images" id="infrastructure-web">
		<h2>Infrastructure Web</h2>

		<div class="container">
			<figure class="columns one-fourth">
				<img alt="Poste de travail" src="images/01-workstation.svg">
				<figcaption>Poste de travail</figcaption>
			</figure>

			<figure class="columns one-fourth fragment">
				<img alt="Internet" src="images/01-network-cloud.svg">
			</figure>

			<figure class="columns one-fourth fragment">
				<img alt="Serveur frontal" src="images/01-webserver.svg">
				<figcaption>Serveur frontal</figcaption>
			</figure>

			<figure class="columns one-fourth fragment">
				<img alt="Serveur applicatif" src="images/01-backend.svg">
				<figcaption>Serveur applicatif</figcaption>
			</figure>
		</div>

		<aside class="notes">
			<ul>
				<li>installer <a href="http://www.eclipse.org/jetty/">Jetty</a></li>
				<li>écrire une page statique type "Hello world!"</li>
				<li>servir la page statique avec Jetty</li>
			</ul>
		</aside>
	</section>

	<section>
		<h2>Quels langages pour quels besoins ?</h2>

		<div class="container">
			<div class="columns one-half">
				<ul>
					<li>HTML, CSS, JavaScript sur le navigateur client</li>
					<li>JSP, PHP, Python, Perl... développement de l'application serveur</li>
				</ul>
			</div>
			<div class="columns one-half">
				<img alt="Role_Du_Navigateur_Serveur" src="images/BasicWeb.gif">
				<p>Rôle du navigateur et du serveur</p>
			</div>
		</div>
	</section>

	<section>
		<h2>HTML 5</h2>

		<ul>
			<li>W3C, organisme indépendant normalisateur du Web</li>
			<li>HTML représente le fond du document</li>
			<li>Hypertext Markup Language: Format de données structurant une page Web</li>
		</ul>
	</section>

	<section>
		<img alt="Role_Du_Navigateur_Serveur" src="images/Html5.png" width="80%" height="50%">
	</section>

	<section>
		<h2>Exemple page HTML</h2>

<pre>
<code class="html">&lt;!doctype html&gt;
&lt;html&gt;
	&lt;head&gt;
		&lt;style&gt;
		body {
		    background-color: linen;
		}
		&lt;/style&gt;
		&lt;script type="text/javascript"&gt;
			console.log("Test");
		&lt;/script&gt;
	&lt;/head&gt;
	&lt;body&gt;
		&lt;h1&gt;TITRE&lt;/h1&gt;
	&lt;/body&gt;
&lt;/html&gt;
</code>
</pre>
	</section>


	<section>
		<h2>HTML Document Object Model</h2>

		<img alt="Exemple_DOM" src="images/domhtml.gif" width="40%" height="20%">

		<ul>
			<li>Structure d’un document</li>
			<li>Arbre hiérarchique</li>
			<li>Contient l’ensemble des éléments d’un document</li>
		</ul>
	</section>



	<section>
		<h2>CSS 3</h2>

		<ul>
			<li>Cascading Style Sheets, version 3</li>
			<li>Représente la forme du document</li>
			<li>Sélecteurs standardisés permettant de référencer les éléments du document</li>
		</ul>
	</section>

	<section>
		<h2>Exemple code CSS</h2>

		CSS :
<pre>
<code class="css">
body {
    background-color: linen;
}
</code>
</pre>

	Inclusion dans la page HTML :
<pre>
<code class="html">
&lt;head&gt;
&lt;link rel="stylesheet" type="text/css" href="mystyle.css"&gt;
&lt;/head&gt;
</code>
</pre>
	</section>

	<section>
		<h2>Les sélecteurs en CSS</h2>

		CSS :
<pre>
<code class="css">
body {
    background-color: linen;
}

.maclass {
	background-color: green;
}

#monid {
	background-color: red;
}
</code>
</pre>
	</section>

	<section>
		<h2>Javascript</h2>

		<ul>
			<li>Langage de programmation de scripts</li>
			<li>Ajoute du dynamisme au document</li>
			<li>Langage orienté objet à prototype</li>
		</ul>
	</section>

	<section>
		<h2>Exemple code JavaScript</h2>

		Inclusion du javascript :
<pre>
<code class="html">
&lt;script src="myScript.js"&gt;&lt;/script&gt;
&lt;script&gt;
document.getElementById("demo").innerHTML = "My First JavaScript";
&lt;/script&gt;
</code>
</pre>

Différentes variables globale: document, window, ...

	</section>

	<section>
		<h2>Les sélecteurs en Javascript</h2>

<pre>
<code class="javascript">
document.getElementById('monId');
document.getElementsByTagName('SPAN');
document.getElementsByClassName('MaClass');
</code>
</pre>
	</section>

	<section>
		<h2>Comprendre les débogueurs</h2>

		<ul>
			<li>S'ouvre généralement avec F12</li>
			<li>Permet d'afficher le DOM et les ressources</li>
			<li>Onglet Réseaux permettant d'analyser les requêtes HTTP</li>
			<li>Possibilité de modifier à la volée des éléments d'une page</li>
		</ul>
	</section>


	<section>
		<h2>Les langages côtés serveur</h2>

		<div>Ils interagissent avec un serveur HTTP pour produire une page Web dynamique :</div>
		<ul>
			<li>PHP: PHP Hypertext PreProcessor</li>
			<li>ASP: Active Server Pages</li>
			<li>CGI: Common Gateway Interface</li>
			<li>JSP: Java Server Pages</li>
		</ul>
	</section>

	<section>
		<h2>TP 1</h2>

		<ul>
			<li>Installer Jetty et comprendre son fonctionnement</li>
			<li>Ecrire une page statique type "Hello world!"</li>
			<li>Accéder à cette page statique avec Jetty</li>
		</ul>
		<br /><br />
		Correction: Voir la correction du TP2
	</section>

	<section>
		<h2>TP 2</h2>

		<ul>
			<li>Développer une page HTML avec un formulaire</li>
			<li>Envoyer les données de ce formulaire à une page JSP</li>
			<li>Contrôler les données sur le navigateur client et le serveur</li>
		</ul>
	</section>

</section>
