<section>
	<h1>Asynchrone et sans état</h1>

	<section>
		<h2>Plan de la partie</h2>
		<ul>
			<li>Le Web asynchrone</li>
			<li>WebService, fonction distante</li>
			<li>Ergonomie et sécurité des applications Web</li>
		</ul>
	</section>

	<section>
		<h2>Le Web asynchrone</h2>

		<div class="columns one-half">
			<ul>
				<li>chaque interaction recharge intégralement la page</li>
				<li>peu d'intelligence dans le client</li>
				<li>serveur omniprésent</li>
			</ul>
		</div>

		<div class="columns one-half">
			<ul>
				<li>la page est chargée au démarrage, les interactions la modifient</li>
				<li>ergonomie et traitement des données par le client</li>
				<li>spécialisation du rôle du serveur</li>
			</ul>
		</div>

		<aside class="notes">
			<ul>
				<li>le rechargement intégral de la page induit une charge réseau supérieure</li>
				<li>interprétation HTML/CSS et généralement peu de JS d'un coté / HTML rudimentaire et logique client JS de l'autre</li>
				<li>nouvelle répartition de la charge R&amp;D ~ 80% client / 20% serveur</li>
				<li>interactions multiples au périmètre généralement très limité (1 interaction = 1 requête = 1 interrogation serveur ciblée)</li>
				<li>pages riches, interactivité accrue</li>
			</ul>
		</aside>
	</section>

	<section>
		<h2>WebService</h2>
		<ul>
			<li>permet l'échange de données brutes</li>
			<li>assimilable à une fonction distante
				<ul>
					<li>arguments d'entrée</li>
					<li>données de sortie</li>
				</ul>
			</li>
			<li>le contenu renvoyé n'est pas un ensemble autonome</li>
		</ul>

		<aside class="notes">
			<ul>
				<li>« données brutes » au sens où elles ne véhiculent aucune information sur l'usage (affichage par exemple) qui devra en être fait</li>
				<li>cet usage est de la responsabilité de l'application qui exploite ces données</li>
				<li>le concept de « fonction distante » a quelques particularités qu'on retrouve pas nécessairement ailleurs :
					<ul>
						<li>le mainteneur de l'application qui interroge le WebService n'est pas nécessairement en contact avec celui qui maintient le WebService (risques de modifications d'API)</li>
						<li>la fonction étant distante, le résultat de son exécution peut arriver tardivement ⇒ aynchronisme</li>
						<li>le WebService traitant des requêtes provenant de différentes sources, il s'affranchit de gérer l'état de l'échange et chaque appel est atomique</li>
					</ul>
				</li>
			</ul>
		</aside>
	</section>

	<section>
		<h2>REST</h2>
		<ul>
			<li>REpresentational State Transfer</li>
			<li>C'est un style d'architecture et pas un standard
				<ul>
					<li>qui est léger</li>
					<li>Auquel nous accédons avec les URL</li>
				</ul>
			</li>
			<li>Utilise essentiellement le protocole HTTP</li>
		</ul>
	</section>

	<section>
		<h2>Fonction distante</h2>

		<div class="container">
			<div class="columns one-half">
				<img alt="Arguments du WebService" src="images/02-arguments-webservice.png">
				<p>des arguments</p>
			</div>
			<div class="columns one-half">
				<img alt="Réponse du WebService" src="images/02-reponse-webservice.png">
				<p>des données retournées</p>
			</div>
		</div>

		<aside class="notes">
			<ul>
				<li>Arguments du WebService :
					<ul>
						<li>« search » : le texte recherché</li>
						<li>« limit » : le nombre de résultats à proposer</li>
						<li>« format » : le format attendu pour la réponse</li>
					</ul>
				</li>
				<li>Réponse du WebService :
					<ul>
						<li>tableau de résultats</li>
						<li>un tableau de noms de pages</li>
						<li>un tableau de description pour chacune des pages</li>
					</ul>
				</li>
			</ul>
			<div class="pratique">
				<p>Manipulations</p>
				<ul>
					<li>ouvrir la requête dans un nouvel onglet</li>
					<li>analyser l'URL (arguments GET)</li>
					<li>modifier les arguments suivants :
						<ul>
							<li>« search »</li>
							<li>« limit »</li>
							<li>« format »</li>
						</ul>
					</li>
					<li>créer dans une page Web :
						<ul>
							<li>champ « input »</li>
							<li>onchange ⇒ WS Wikipedia</li>
							<li>liste de résultats</li>
						</ul>
					</li>
				</ul>
			</div>
		</aside>
	</section>

	<section>
		<h2>Méthode HTTP sans états</h2>

		<ul>
			<li>Aucun état n'est enregistré sur le serveur</li>
			<li>Chaque requête est exécutée indépendamment sur le serveur</li>
			<li>Les méthodes (verbes) du protocole HTTP sont standardisées</li>
			<li>GET, POST, DELETE, PUT, HEAD, OPTIONS</li>
		</ul>
	</section>

	<section>
		<h2>Ergonomie et sécurité</h2>

		<ul>
			<li>Aucune maîtrise du code executé par le client</li>
			<li>Maîtrise du code exécuté par le serveur</li>
			<li>Les données reçues par le serveur ne sont jamais fiables</li>
		</ul>
	</section>

	<section>
		<h2>Requête AJAX avec Javascript</h2>

<pre>
<code class="javascript">
var xmlhttp=new XMLHttpRequest();
xmlhttp.onreadystatechange=function()
{
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
     document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
    }
}

xmlhttp.open("GET","http://test.com/ajax_test.txt",true);
xmlhttp.send();
</code>
</pre>
	</section>

	<section>
		<h2>TP 3</h2>

		<ul>
			<li>Comprendre l'API REST de Wikipedia</li>
			<li>Analyser les URLs de l'API Wikipedia</li>
			<li>Modifier les données d'une requête grâce au debogueur</li>
		</ul>
	</section>

	<section>
		<h2>TP 4</h2>

		<ul>
			<li>Communiquer avec l'API REST de Wikipedia avec Javascript</li>
			<li>Créer un projet Web dynamique avec Eclipse</li>
			<li>Intégrer le plugin Jetty dans Eclipse</li>
		</ul>
	</section>

	<section>
		<h2>AIDE TP 4</h2>

		<ul>
			<li>Installer Run Jetty Run via le marketplace d'Eclipse</li>
			<li><a href="http://docs.oracle.com/javaee/5/tutorial/doc/bnadp.html">Documentation Oracle Java EE / JSP</a></li>
		</ul>
	</section>


</section>
