<section>
	<h1>Framework de développement</h1>

	<section>
		<h2>Plan de la partie</h2>
		<ul>
			<li>Qu'est-ce qu'un framework ?</li>
			<li>Contraintes d'un framework</li>
			<li>Éléments de choix d'un framework</li>
			<li>Différentes philosophies</li>
			<li>Les design patterns pour le web</li>
			<li>Les framework client: JQuery, Angular, ...</li>
			<li>Les framework serveur: Spring, ...</li>
		</ul>
	</section>

	<section>
		<h2>Qu'est-ce qu'un framework ?</h2>

		Un framework web est un regroupement de macro-composants qui forment un tout cohérent et que l'on assemble selon nos besoins pour fournir une solution. <br />
		<ul>
			<li>Vous êtes libre mais guidé</li>
			<li>Vous êtes plus rapide et fournissez un produit de qualité</li>
			<li>Vous assurez une cohérence et la pérennité d'une solution</li>
		</ul>
	</section>

	<section>
		<h2>Contraintes d'un framework</h2>

		<ul>
			<li>il impacte le code de l'application (qui sera développée en fonction des contraintes du framework)</li>
			<li>la qualité de l'application est liée à la la qualité du framework</li>
			<li>certaines évolutions sur l'application sont imposées par les évolutions du framework (mises-à-jour de sécurité)</li>
			<li>la mise-à-jour du framework peut induire une charge R&amp;D importante</li>
			<li>des framework disparaissent, des frameworks apparaissent, en permanence</li>
		</ul>
	</section>

	<section>
		<h2>Éléments de choix d'un framework</h2>

		Outre les aspects purement fonctionnels du framework, il peut être intéressant de considérer :
		<ul>
			<li>l'évolution de son code (rapidité des corrections de bugs, stabilité de l'API)</li>
			<li>sa pérennité (trop récent, trop vieux)</li>
			<li>la disponibilité et la qualité de sa documentation</li>
			<li>la taille de la communauté d'utilisateurs</li>
			<li>etc.</li>
		</ul>
	</section>

	<section>
		<h2>Différentes philosophies</h2>

		<ul>
			<li>Tout intégré
				<ul>
					<li>démarrage simplifié</li>
					<li>tous les éléments fonctionnent directement ensemble</li>
					<li>chaque mise-à-jour impacte fortement l'application</li>
				</ul>
			</li>
			<li>Agrégation de petits éléments spécialisés
				<ul>
					<li>ne fonctionnent pas directement ensemble, charge R&amp;D initiale plus importante</li>
					<li>mise-à-jour « par brique », charge R&amp;D simplifiée</li>
				</ul>
			</li>
		</ul>

	</section>

	<section>
		<h2>Les design patterns pour le web</h2>
		<ul>
			<li>Model View Controller (Request based MVC and Component based MVC:)</li>
			<li>Front Controller pattern</li>
			<li>Strategy pattern</li>
			<li>Factory method pattern</li>
			<li>...</li>
		</ul>
	</section>

	<section>
		<h2>Model View Controller</h2>
		<img alt="JQUERY FRAMEWORK" src="images/MVCDesignPattern.jpg"  width="40%" height="20%">
		<ul>
			<li>Request based MVC: Requête manuelle et aucune action automatisée</li>
			<li>Component based MVC: Requête automatique vers les ressources, action automatisée</li>
		</ul>
	</section>

	<section>
		<h2>Front Controller pattern</h2>
		<img alt="JQUERY FRAMEWORK" src="images/FrontControllerDesignPattern.jpg"  width="40%" height="20%">
	</section>





	<section>
		<h2>Les framework client</h2>

		<ul>
			<li>CSS: Bootstrap pour le back-end, Foundation pour le front-end</li>
			<li>JS: Vanilla JS, JQuery, Dojo, ...</li>
			<li>HTML canvas: EaselJS</li>
		</ul>
	</section>

	<section>
		<h2>JQuery</h2>

		<ul>
			<li>JQuery est une librairie javascript, côté client</li>
		</ul>

		<img alt="JQUERY FRAMEWORK" src="images/jquery.png">
		<li>Voir la documentation Jquery: <a href="https://api.jquery.com/">Jquery Docs</a></li>
	</section>

	<section>
		<h2>JQuery Exemple</h2>

		Nouvelle méthode pour sélectionner des éléments DOM.
<pre>
<code class="javascript">
$(document).ready(function() {
        $("a").click(function() {
                alert("Hello world!");
        });
});
</code>
</pre>

	</section>

	<section>
		<h2>Angular JS</h2>

		Angular est un véritable framework, il :
		<ul>
			<li>Structure votre code et impose son architecture</li>
		</ul>

		<img alt="ANGULAR FRAMEWORK" src="images/angular.jpg"  width="40%" height="20%"> <br />
		Voir la documentation Angular JS: <a href="https://docs.angularjs.org/guide/">Guide Angular JS</a>
	</section>

	<section>
		<h2>Backbone.js</h2>

		Backbone.js est comparable à Angular du point de vue de la philosophie et de la structuration.
		Cependant, il est plus léger, donc :
		<ul>
			<li>il est plus limité et délègue certaines tâches de fonctionnement internes au développeur de l'application</li>
			<li>il donne une plus grande liberté à l'utilisateur</li>
			<li>son intégration a un impact plus léger sur l'empreinte de l'application (taille du paquet, empreinte mémoire)</li>
		</ul>
	</section>

	<section>
		<h2>Les framework serveur</h2>

		<ul>
			<li>JAVA: Spring, JavaServer Faces, Apache Struts</li>
			<li>PHP: Zend Framework, Symfony</li>
			<li>JS: Node.js</li>
		</ul>
	</section>

	<section>
		<h2>Le Framework Spring</h2>

		<img alt="Spring_overview" src="images/spring-overview.png" width="40%" height="20%">
	</section>

	<section>
		<h2>Le Framework Spring</h2>

		<img alt="Spring_ARCHI" src="images/SpringMVCArchitecture.jpg" width="40%" height="20%">
	</section>

	<section>
		<h2>IoC pattern</h2>

		Inversion of control with Dependency Injection

		<img alt="Spring_ARCHI" src="images/spring_ioc_container.jpg" width="40%" height="20%">
	</section>

	<section>
		<h2>Les beans</h2>

		Recette pour créer un ou plusieurs objets réels

<pre>
<code class="java">
<bean id="helloWorld" class="com.tutorialspoint.HelloWorld">
	<property name="message" value="Hello World!"/>
</bean>
</code>
</pre>
	</section>


	<section>
		<h2>Spring project in Eclipse</h2>

		<img alt="Spring_Project_ARCHI" src="images/ExempleArchiSpring.jpg" width="20%" height="10%">
	</section>



</section>
